.hero-banner {
    background-image: url(../image/fitness-main.jpg);
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center -17em;
    
    
}

.hero-banner * {
    color: white;
}

